
body{
	padding:0 0;
	margin:0 0;
    font-family: 'Rancho', cursive;
    font-family: 'Open Sans', sans-serif;
}
body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}

input[type="button"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}

.nav-item .nav-link{
    color: #000;
    font-family: 'Rancho', cursive;
    font-size: 1.2em;
    background: none!important;
}

.header-top {
    background-color: #bae2b1;
    font-family: 'Kolker Brush', cursive;
    margin-top: 1em;
}
.navbar-brand {
    float: left;
	margin-left: 0.8em;
}
.navbar {
    border-radius: 0px;
}
.navbar-nav {
    float: right;
    margin: 0;
}
.navbar-default {
    background: none!important;
    border: none!important;
}
.top-menu ul li {
    display: inline-block;
    margin: 0.8em 1em;
}
.navbar-brand h1 a {
    text-decoration: none;
	color:#4a7940;
	font-size: 1em;
    font-family: 'Kolker Brush', cursive;
    text-transform: capitalize;
    letter-spacing: 2px;
	line-height: 0px;

}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-family: 'Kolker Brush', cursive;
    font-size: 1.2em;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: rgba(249, 255, 247, 0.43);
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: rgba(249, 255, 247, 0.43);
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #bae2b1;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0;
    border: 1px solid transparent;
}
.navbar-brand {
    float: left;
    height: 0px;
    padding: 0px 15px;
    font-size: 14px;
    line-height: 20px;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-brand h1 a:hover, .nav-link:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: rgba(249, 255, 247, 0.43);
}
.dropdown-menu > li > a {
    display: block;
    padding: 10px 20px;
	color: #fff;
    font-family: 'Kolker Brush', cursive;
	font-size: 1.2em;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0px;
}
.dropdown-menu {
    min-width: 150px;
    padding: 0px 0;
    border: 1px solid #fff;
}
.navbar-default {
    	padding: 1.2em 0;
}
.navbar-collapse {
    max-height: 340px;
    padding-right: 0px;
     padding-left: 0px; 
}

.header{
	background:url(../images/hotelfront.jpg) no-repeat 0px 0px;
	background-size:cover;
   -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
	min-height:764px;
	padding-bottom: 4em;
}


/** -----------Footer section-------------------- */
.footer-section{
	padding:2em 0;
	text-align:center;
	background: #fff
}
.footer-top p {
	font-size: 1.2em;
	color: #fff;
	font-weight: 400;
}
.footer-top  a {
	font-size: 1em;
	color:#fff;
	font-weight: 400;
	text-transform: capitalize;
}
.footer-top a:hover {
	color: #fff;
}
.footer-top a {
	margin: 0 0.3em
}
/** -----------Footer section-------------------- */

/** ------------------------Footer section------------------------- */


/*** -------------------- du page de contact --------------------- ***/
.contact{
	padding: 4em 0;
}
.contact h2 {
	font-size: 2.5em;
    text-transform: capitalize;
    font-family: 'Rancho-Regular';
    color: #222;
	text-align:center;
}
.google-map iframe {
	width: 100%;
	min-height: 400px;
	border: none;
	margin-bottom: 2em;
}
.google-map {
  margin-top: 3em;
}
.contact-left p {
	color: #777;
	font-size: 1em;
	line-height: 1.8em;
}
.contact-left p a {
    text-decoration: none;
    color: #777;
}
/*address {
   margin: 1em 0 0;
 }*/
.contact-right h5{
	font-size:1em;
	text-transform: uppercase;
	font-weight: 400;
	padding: 10px 0;
	color: #222;
	
}
.contact-right input[type="text"] {
	width: 100%;
	padding: 10px 10px;
	font-size: 1em;
	outline: none;
	border: 1px solid #dcdee0;
}
.contact-right textarea {
	width: 100%;
	padding: 10px 10px;
	font-size: 1em;
	height: 10em;
	resize: none;
	outline: none;
	border: 1px solid #dcdee0;
}
.contact-right input[type="submit"] {
	width: 20%;
	font-size: 1em;
	text-transform: uppercase;
	background: #222;
	border: none;
	outline: none;
	margin-top: 0.5em;
	color: #fff;
	font-weight: 500;
	padding: 10px 0;
}
.contact-right input[type="submit"]:hover {
	background: #5ab645;
}
/*** -----------------fin du page de contact --------------------- ***/


